* {
  box-sizing: border-box;
}
@media screen and (max-width: 760px) {
  .left {
    background-color: whitesmoke;
    min-width: 100vw;
    align-items: center;
    padding-left: 50px;
  }
  .middle {
    min-width: 100vw;
  }
  .right {
    background-color: whitesmoke;
    min-width: 100vw;
  }
}
.col-sm {
  padding: 20px;
  margin: 30px;
}
.left {
  background-color: whitesmoke;
  width: 25%;
}
.middle {
  width: 50%;
}
.right {
  background-color: whitesmoke;
  width: 25%;
}

.menu {
  margin-left: 20px;
}

#find-city {
  padding: 10px;
  margin: 10px;
  align-items: center;
}

#search {
  align-items: center;
}

#city-input {
  margin: 10px;
  align-items: center;
}

.header-img {
  width: 100%;
  height: 40vh;
  background: url("https://images.pexels.com/photos/417045/pexels-photo-417045.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  /* Add the blur effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(1px);

  /* Full height */

  /* Center and scale the image nicely */
}

.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 1px solid #f1f1f1;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

#buttons-view {
  margin: 10px;
  padding: 10px;
}

#wicon {
  height: 70px;
  width: auto;
  align-content: center;
}

.newCity {
  min-width: 5rem;
  margin: 0.2rem;
  border: none;
}
