* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
@media screen and (max-width: 760px) {
  .left {
    min-width: 100vw;
    align-items: center;
  }
  .middle {
    min-width: 100vw;
  }
  .right {
    min-width: 100vw;
  }
}
.col-sm {
  padding: 20px;
}
.left {
  background-color: #68b8d7b9;
  color: white;
  width: 25vw;
  height: 100%;
  color: white;
  border: 1px solid #f1f1f1;
}
.middle {
  width: 50vw;
  color: #183550;
  padding-top: 1.3rem;
}
.right {
  background-color: #68b8d7b9;
  color: white;
  width: 25vw;
  border: 1px solid #f1f1f1;
}

.menu {
  margin-left: 20px;
}

#find-city {
  padding: 10px;
  margin: 10px;
  align-items: center;
}

#search {
  align-items: center;
}

#city-input {
  margin: 10px;
  align-items: center;
}

.header-img {
  width: 100vw;
  height: 40vh;
}

button {
  margin: 0.2rem;
  border: 1px solid #68b8d7;
  background-color: #183550ad;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  width: 50%;
  table-layout: fixed;
  border-collapse: collapse;
}

button:hover {
  background: #68b8d7;
  color: white;
  border: 2px solid white;
}

input {
  background-color: #183550;
  width: 40%;
  cursor: pointer;
  color: white;
  border: none;
  z-index: 2;
}

input:hover {
  border: 2px solid white;
}

#city-input {
  background: white;
  color: #183550;
  width: 200px;
}

.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 1px solid #f1f1f1;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

#buttons-view {
  margin: 10px;
  padding: 10px;
}

#wicon {
  height: 70px;
  width: auto;
  align-content: center;
}

.temp,
.wind,
.humidity,
.uvIndex {
  margin: 0.8rem;
}

/* .newCity {
  min-width: 5rem;
  margin: 0.2rem;
  border: none;
} */
